<div id="dialog">
  <h1 mat-dialog-title>Select An Image</h1>
  <div mat-dialog-content>
    <p>Enter The Image Name</p>
    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="result.name">
      </label>
    </mat-form-field>

    <p>Select The Image</p>
    <img *ngIf="result.content !== ''" [src]="result.content" width="100" height="100">
    <app-select-button (imageEvent)="receiveImage($event)"></app-select-button>
    <p>{{fileName}}</p>
    <p *ngIf="error" id="error-message">Invalid File Type</p>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onClose()">Cancel</button>
    <button mat-button [mat-dialog-close]="result" [disabled]="!canSave()" cdkFocusInitial>Save</button>
  </div>
</div>
