<div>
  <h1 mat-dialog-title>Select An Image</h1>
  <div mat-dialog-content>
    <p>Enter The Image Name</p>
    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="result.name">
      </label>
    </mat-form-field>

    <p>Select The Image</p> <app-select-button (imageEvent)="receiveImage($event)"></app-select-button>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onClose()">Cancel</button>
    <button mat-button [mat-dialog-close]="result" cdkFocusInitial>Save</button>
  </div>
</div>
